<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
<!--                <img th:src="@{/images/ab.png}" alt="">-->
            </div>
            <div class="footer-col">
                <h4>company</h4>
                <ul class="ul">
                    <li><a th:href="@{/user/aboutus}">About us</a></li>
                    <li><a th:href="@{/user/profile}">My Account</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/thesumanshah/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/in/bhawana-rl-shahi-a912aa238/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/bhawana-rl-shahi-a912aa238/"><i class="fab fa-linkedin-in"></i></a>
                    <a href=""><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>