<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="icon" sizes="200x200" th:href="@{/images/ab.png}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/aboutus.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="~{/fragments/header.html}"></header>
<main>
  <div class="main-div">
    <h2>About us</h2><br><br>
    <img th:src="@{/images/Nursery1.jpg}" alt="">
    <p>GoGreen (Online nursery store) is an online plant store. This website is made to give facilities to the customers by selling online plants for their home and it is developed by the using HTML CSS Js ans springbot.
  </main>
<footer th:replace="~{/fragments/footer.html}"></footer>
</body>
</html>