<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hotel Booking: Luxury Hotel</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="x-icon" th:href="@{/images/ServicesImages/logo.png}">
    <link rel="stylesheet" th:href="@{~/css/booking.css}">
    <script defer th:src="@{~/javascript/booking.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/booking.css}">
    <!--    <script defer th:src="@{~/javascript/disableDate.js}"></script>-->



    <title>Booking</title>
</head>

<body onload="myFunction()">
<body style="display: flex;   justify-content: center;">

<div class="container" style="align-self: center;">

    <form  id="form" th:method="post" th:action="@{/user/savebook}" th:object="${booking}">
        <h1>Book Now</h1>
        <input type="number"   hidden="hidden" th:field="*{id}" th:value="${booking.id}">

        <div class="input-control">

            <label for="FullName">FullName</label>

            <input id="FullName" name="FullName" type="text"  th:field="*{fullname}" th:value="${booking.fullname}">

            <div class="error"></div>

        </div>

        <div class="input-control">

            <label for="Phone">Phone</label>

            <input id="Phone" name="Phone" type="number"  th:field="*{mobile_no}" th:value="${booking.mobile_no}">

            <div class="error"></div>

        </div>
        <div class="input-control">

            <label for="Noofplant">No Of Plants</label>

            <input id="Noofplant" name="number" type="number"  th:field="*{noofplant}" onkeyup="mult(this.value);" th:value="${noofplant}">

            <div class="error"></div>

        </div>
        <div class="input-control">

            <label for="Price">Price</label>

            <input id="Price" name="Price" type="number" th:field="*{price}" th:value="${price}">

            <div class="error"></div>

        </div>
        <div class="input-control">

            <label for="Address">Address</label>

            <input id="Address" name="Address" type="name" th:field="*{address}" th:value="${address}">

            <div class="error"></div>

        </div>




        <div class="input-control">

            <label for="date">Check in</label>

            <!-- <input id="date" name="date" type="number"> -->

            <input type="date" name="date" id="checkInDate" placeholder="date"  th:field="*{checkin}" th:value="${booking.checkin}">

            <div class="error"></div>

        </div>


        <!--        Amount -->


        <input type="text" hidden="hidden" id="date" th:field="*{date}" th:value="${booking.date}">
<!--        <input type="text" hidden="hidden" name="user_id" th:value="${info.id}">-->




        <div class="input-control">


        </div>
        <!--                    <input type="submit" value="SUBMIT">-->
        <div>
            <button type="submit" onclick="myFunction()">Buy Now</button>
        </div>
        <div>
            <a th:href="@{~/landing}">
                <button type="button" style="background-color: red">Cancel</button>
            </a>
        </div>


    </form>

</div>
<script>
    function mult(value){
        var x;
        x=150*value;
        document.getElementById("Price").value=x;
    }

</script>


<script>
    $(document).ready(function(){
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("checkInDate").setAttribute("min", today);
        document.getElementById("checkOutDate").setAttribute("min", today);
    });

</script>
<script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = yyyy + '/' + mm + '/' + dd;
    var val=document.getElementById("date");
    val.setAttribute("value",today);

</script>
</body>

</html>