<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
<link rel="stylesheet" th:href="@{/css/signup.css}">
<!-- Fontawesome CDN Link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
<input type="checkbox" id="flip">
<div class="cover">
    <div class="front">
        <img th:src="@{~/images/back.jpg}" alt="">
    </div>
</div>
<div class="forms">
    <div class="form-content">
        <div class="signup-form">
            <div class="title">Signup</div>
            <form th:method="post" th:action="@{/user/save}" th:object="${user}">
                <div class="input-boxes">
                    <div class="input-box">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Enter your email" required th:field="*{email} " th:value="${user.email}">
                    </div>
                    <div class="input-box">
                        <i class="fas fa-phone"></i>
                        <input type="number" placeholder="Enter your mobile number" required th:field="*{mobile_no}" th:value="${user.mobile_no}">
                    </div>
                    <div class="input-box">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Enter your password" required th:field="*{password} " th:value="${user.password}">
                    </div>
<!--                        <div class="text"><a href="#">Forgot password?</a></div>-->
                    <div class="button input-box">
                        <input type="submit" value="Sumbit">
                    </div>
                    <div class="text sign-up-text">Already have an account?<a href="login.html">Login
                        </div>
                </div>
            </form>
        </div>
    </div>
   </body>
</html>
